doctype html
html
  head
    title 
    block scripts
        script(src="https://kit.fontawesome.com/3f4bdd8d17.js" crossorigin="anonymous")
    block style
        style
            link(rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css")
            include ../../static/design.css
  body
    nav#navbar 
      div.logo 
          img(src="../../static/img/bg6.png", alt="Error Loading Image")
      ul.navlist
        li #[a(href="#") My Store]
    block content  