extends base.pug 

block scripts
    script(src='../static/index.js')

block style
    style
      include ../../static/stylelogin.css
      include ../../static/style.css
      include ../../static/forgot.css
block content
    div.container
        div.small2
            form(action="/reset/"+token,method="post")
                div.block
                    include ../partials/messages.pug
                div.box 
                    input(type="password",name="password",id="password",class="passwords" placeholder="Enter Password")
                div.box 
                    input(type="password",name="confirmpassword",id="password",class="passwords" placeholder="Confirm Password")
                div.box
                    button(class="btn", name="submit", type="submit")
                        | Change Password